header, main, footer {
	padding-left: 240px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

header .brand-logo {
	font-weight: lighter;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#logo-container {
    font-size: 3em;
    font-weight: lighter;
}

#logo-container:hover {
	background: transparent;
}

#welcome {
    padding-top: 15%;
    padding-bottom: 15%;
	display: none;
}

#education li {
    opacity: 0;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
    	padding-left: 0;
    }
}          
