header, main, footer {
	padding-left: 240px;
}

header .brand-logo {
	font-weight: lighter;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

#logo-container {
    font-size: 3em;
    font-weight: lighter;
}

#logo-container:hover {
	background: transparent;
}

main {
	padding-top: 5%;
}

#welcome {
	display: none;
}

#welcome h1 {
	font-weight: lighter;
}

@media only screen and (max-width : 992px) {
    header, main, footer {
    	padding-left: 0;
    }
}          